/* Page & Body defaults */
* {
    box-sizing: border-box; /* make sure padding doesn't affect dimensions */
    font-family: 'Open Sans', sans-serif; /* <3 open sans */
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
    background-color: #202020;
    color: #ffffff;
}

body a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

body a:hover {
    text-decoration: underline;
}

/* Navbar */
.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    color: #ffffff;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
}

.nav-right-align {
    margin-left: auto;
}

.nav-link {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #505050;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

/* Main content */
.main-content {
    padding: 3rem 2rem 3rem 2rem;
    background-color: #ffffff;
    color: #202020;
}

.main-content a {
    color: #0055b2;
}

.main-content a:hover {
    color: #003c7c;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    overflow: hidden; /* call it a day if it can't even fit in this */
}

.font-weight-normal {
    font-weight: normal !important;
}

/* Footer */
.footer-content {
    padding: 1.5rem 2rem 1rem 2rem;
}

.footer-text {
    margin: 0 0 0.25rem 0;
    text-align: center;
    font-size: 12px;
}
