* {
    box-sizing: border-box; /* make sure padding doesn't affect dimensions */
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #202020;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0085b6;
}

a:hover {
    color: #0055b2;
}

.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #505050;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    color: #ffffff;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
}

.nav-right-align {
    margin-left: auto;
}

.nav-fa {
   font-weight: normal;
}

.nav-link {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    color: inherit;
}

.nav-link:hover {
    background-color: #202020;
    color: inherit;
}

.nav-title {
    padding: 0 1rem 0 1rem;
    font-style: italic;
}

.main-content {
    padding: 3rem 2rem 3rem 2rem;
    background-color: #ffffff;
    color: #202020;
}

.footer-content {
    padding: 1rem 2rem 1rem 2rem;
    background-color: inherit;
}

.footer-text {
    padding: 0 1rem 0 1rem;
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: inherit;
}

.footer-link {
    color: inherit;
}

.footer-link:hover {
    text-decoration: underline;
    color: inherit;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.bio-title {
    margin: 3rem 0 3rem 0;
    font-size: 3rem;
    text-align: center;
}

.bio-face-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 256px;
}

.bio-text {
    font-size: 1.5rem;
    text-align: center;
}

.projects-content {
    overflow: auto; /* stop margins collapsing with child title header etc. */
    background-image: linear-gradient(-180deg, #202020, #505050);
}

.project-bg-container {
    padding: 3rem 1rem 3rem 1rem;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(45deg, #505050, #202020);
}

.project-info-container {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(24, 24, 24, 0.75);
}

.project-info-img-col {
    width: 35%;
}

.project-info-desc-col {
    width: 65%;
    padding: 0 0 0 2rem;
}

.project-info-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project-info-title {
    color: #ffffff;
    text-align: center;
    width: 100%;
}
