/* Page & Body defaults */
@import "code.css"; /* code snippets & syntax highlighting */

* {
    box-sizing: border-box; /* make sure padding doesn't affect dimensions */
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
    min-width: 320px; /* min supported width, give up & scrollbar if smaller */
    min-height: 100%;
    font-family: 'Open Sans', sans-serif; /* <3 open sans */
    background-color: #202020;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 1rem 0;
}

h1 {
    margin: 1.25rem 0;
    font-size: 2.5rem;
}

h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.4rem;
}

hr {
    margin: 2rem 0;
    height: 1px;
    border-style: none;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
}

/* Navbar */
.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    color: #ffffff;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto;
    list-style-type: none;
    white-space: nowrap;
}

.nav-right-align {
    margin-left: auto;
}

.nav-link {
    display: block;
    padding: 1rem 1.25rem;
    font-weight: normal;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #505050;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.nav-home {
    font-weight: bold;
}

/* Main content */
.main-content {
    padding: 5rem 2.5rem 4rem;
    overflow: hidden;
    font-size: 1.25rem;
    background-color: #ffffff;
    color: #202020;
}

.main-content a {
    color: #0055b2;
}

.main-content a:hover {
    color: #003c7c;
}

.main-content table {
    display: block;
    overflow: auto;
}

.main-content th, td {
    padding: 0.3rem 1.5rem;
    border: 1px solid #9f9f9f;
}

.main-content th {
    text-align: center;
    background-color: #f9f9f9;
}

.main-content hr {
    background-color: #9f9f9f;
}

.main-content blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.25rem 1.5rem;
    border-left: 3px solid #9f9f9f;
    background-color: #f9f9f9;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    overflow: hidden; /* call it a day if it can't even fit in this */
}

.font-weight-normal {
    font-weight: normal !important;
}

.task-list-item {
    list-style: none;
}

.task-list-item-checkbox {
    margin: 0 1rem 0 0;
}

/* Footer */
.footer-content {
    padding: 1.5rem 2rem 1rem;
}

.footer-text {
    margin: 0 0 0.25rem;
    text-align: center;
    font-size: 0.75rem;
}
