<!-- Misc: {{ include.project.name }} -->
<div id="{{ include.project.name | slugify: 'ascii' }}" class="misc-project-info-container">
    <div class="misc-project-info-inner-container">
        <img class="misc-project-info-media" src="{{ include.project.img_src }}" alt="{{ include.project.img_alt }}">
        <div class="misc-project-info-desc-row">
            <h3 class="misc project-info-title">{{ include.project.name }}</h3>
            <p class="misc project-info-dates">{{ include.project.dates }}</p>
            <div class="misc project-info-tags-container">
                {%- for tag in include.project.tags -%}
                    <p class="misc project-info-tag">{{ tag }}</p>
                {%- endfor -%}
            </div>
            <div class="misc project-info-desc-container">
                {{ include.project.short_desc | strip | markdownify }}
            </div>
            <div class="misc project-info-links-container">
                {% include /projects/project_links.html
                    links=include.project.links
                    link_class="misc"
                    hide_default_name=true %}
            </div>
        </div>
    </div>
</div>
