{%- for link in include.links -%}
    {%- assign icon_class = '' -%}
    {%- assign link_class = '' -%}
    {%- assign default_name = '' -%}
    {%- case link.type -%}
        {%- when 'github' -%}
            {%- assign default_name = 'Repo' -%}
            {%- assign icon_class = 'fab fa-github' -%}
            {%- assign link_class = 'project-info-link-gh' -%}
        {%- when 'youtube' -%}
            {%- assign default_name = 'Video' -%}
            {%- assign icon_class = 'fab fa-youtube' -%}
            {%- assign link_class = 'project-info-link-yt' -%}
        {%- when 'download' -%}
            {%- assign default_name = 'Download' -%}
            {%- assign icon_class = 'fas fa-download' -%}
        {%- when 'pdf' -%}
            {%- assign default_name = 'PDF' -%}
            {%- assign icon_class = 'far fa-file-pdf' -%}
        {%- else -%}
            {%- assign default_name = 'Website' -%}
            {%- assign icon_class = 'fas fa-globe-americas' -%}
    {%- endcase -%}
    <a class="{{ include.link_class }} project-info-link {{ link_class }}" href="{{ link.url }}">
        {% if icon_class %}<span class="{{ icon_class }}"></span>{% endif %}
        {% if link.name %} {{ link.name }} {% elsif include.hide_default_name != true %} {{ default_name }} {% endif %}
    </a>
{%- endfor -%}
