{%- for link in include.links -%}
    {%- assign link_name = '' -%}
    {%- assign link_class = '' -%}
    {%- assign icon_class = '' -%}
    {%- case link.type -%}
        {%- when 'github' -%}
            {%- assign link_name = 'Repo' -%}
            {%- assign link_class = 'project-info-link-gh' -%}
            {%- assign icon_class = 'fab fa-github' -%}
        {%- when 'youtube' -%}
            {%- assign link_name = 'Video' -%}
            {%- assign link_class = 'project-info-link-yt' -%}
            {%- assign icon_class = 'fab fa-youtube' -%}
        {%- when 'download' -%}
            {%- assign link_name = 'Download' -%}
            {%- assign icon_class = 'fas fa-download' -%}
        {%- when 'pdf' -%}
            {%- assign link_name = 'PDF' -%}
            {%- assign icon_class = 'far fa-file-pdf' -%}
        {%- else -%}
            {%- assign link_name = 'Website' -%}
            {%- assign icon_class = 'fas fa-globe-americas' -%}
    {%- endcase -%}
    {%- assign hide_name = false -%}
    {%- if link.name -%}
        {%- assign link_name = link.name -%}
    {%- elsif include.hide_default_name -%}
        {%- assign hide_name = true -%}
    {%- endif -%}
    <a class="{{ include.link_class }} project-info-link {{ link_class }}"
       href="{{ link.url }}" {% if hide_name %}title="{{ link_name }}"{% endif %}>
        {% if icon_class %}<span class="{{ icon_class }}"></span>{% endif %}
        {% unless hide_name %}{{ link_name }}{% endunless %}
    </a>
{%- endfor -%}
