<footer class="footer-content">
    <p class="footer-text">© Sean Dewar.
        <a class="footer-link" href="https://github.com/seandewar/seandewar.github.io">Click here to view this site's repository</a>.
    </p>
    <p class="footer-text">
        I wrote this site's styling and layout - I don't usually do web dev
        stuff,
        <a class="footer-link" href="https://github.com/seandewar/seandewar.github.io/issues">
            so be sure to let me know of any issues</a>!
    </p>
    <p class="footer-text">
        This site requires a HTML5 and CSS3 compatible browser to view
        properly.
    </p>
</footer>
