<head>
    {%- include analytics.html -%}
    <script src="https://kit.fontawesome.com/3f48d9e2a2.js" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    {%- if page.description -%}
        <meta name="description" content="{{ page.description }}">
    {%- elsif page.excerpt -%}
        <meta name="description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
    {%- else -%}
        <meta name="description" content="{{ site.description }}">
    {%- endif -%}

    {%- if page.full_title -%}
        <title>{{ page.full_title | escape }}</title>
    {%- else -%}
        <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    {%- endif -%}

    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.url }}">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon image_src" href="/img/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    {%- assign page_styles = page.styles | compact -%}
    {%- assign styles = layout.styles | compact | concat: page_styles -%}
    {%- for url in styles -%}
        <link rel="stylesheet" href="{{ url }}">
    {%- endfor -%}

    {%- assign page_scripts = page.scripts | compact -%}
    {%- assign scripts = layout.scripts | compact | concat: page_scripts -%}
    {%- for url in scripts -%}
        <script src="{{ url }}"></script>
    {%- endfor -%}
</head>
