<nav class="nav">
    <ul>
        <li class="nav-item-left"><a class="nav-link" href="/">My Portfolio</a></li>
        <li class="nav-item-right"><p class="nav-title">Sean Dewar</p></li>
        <li class="nav-item-right"><a class="nav-link" href="https://www.linkedin.com/in/seandewar/"><span class="nav-fa fab fa-linkedin"></span></a></li>
        <li class="nav-item-right"><a class="nav-link" href="https://github.com/seandewar"><span class="nav-fa fab fa-github"></span></a></li>
    </ul>
</nav>
