<nav class="nav">
    <div class="content-container">
        <ul class="nav-list">
            <li><a class="nav-link" href="/">My Projects</a></li>
            <li class="nav-right-align"><a class="nav-link" href="https://github.com/seandewar" title="My GitHub Profile"><span class="nav-fa fab fa-github"></span></a></li>
            <li><a class="nav-link" href="https://www.linkedin.com/in/seandewar/" title="My LinkedIn Profile"><span class="nav-fa fab fa-linkedin"></span></a></li>
            <li><p class="nav-title">Sean Dewar</p></li>
        </ul>
    </div>
</nav>
